@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 122.42 39.44% 49.22%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --primary-light: 346 100% 50%;

    --sidebar-width: 196px;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 19%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 122.42 39.44% 49.22%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 100% 100%;
    --accent-foreground: 0 0% 98%;

    --destructive: 3.77 86.21% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 122.42 39.44% 49.22%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply text-background bg-foreground;
  }

  .markdown-body > *:first-child {
    margin-top: 0 !important;
  }

  .markdown-body h1 {
    letter-spacing: -0.025rem;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
    font-size: 1.5rem;
  }

  .markdown-body h2 {
    letter-spacing: -0.019rem;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsl(var(--accent) / 0.2);
  }

  .markdown-body h3 {
    letter-spacing: -0.019rem;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
    font-size: 1rem;
  }

  .markdown-body p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1rem;
  }

  .markdown-body pre {
    overflow: auto;
    font-size: 85%;
    font-weight: 500;
    color: hsl(var(--foreground));
    line-height: 1.45;
    margin-bottom: 16px;
    @apply rounded-2xl font-mono bg-accent/5 dark:bg-popover;
  }

  .markdown-body code {
    font-weight: 600;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: 'liga', 'calt';

    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    color: hsl(var(--primary));
    background-color: hsl(var(--primary) / 0.1);
    border: 1px solid hsl(var(--primary) / 0.2);
    white-space: pre;
    @apply rounded-2xl font-geist-mono;
  }
  .markdown-body code *::selection,
  .markdown-body code::selection {
    background-color: hsl(var(--primary));
  }

  .markdown-body pre code {
    display: block;
    padding: 14px;
    background-color: transparent;
    border: none;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    white-space: unset;
    font-weight: inherit;
  }

  .markdown-body strong {
    font-weight: 600;
  }
}
